.back-color {
  background-color: #1981dd;
  border-radius: 7px;
  display: flex;
  padding: 6px;
}
.back-color p {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 50px;
  font-size: 1em;
  padding: 0px 6px 0px 6px;
}
.back-color p:hover {
  border: 2px solid rgb(255, 255, 255);
}
