.anime-img {
  border-radius: 5px;
}
.card-info {
  background-color: #dfdbdb8f;
  margin-top: 40px;
  padding: 15px;
  border-radius: 10px;
}
.date-card {
  display: flex;
}

/*------ pie chart css ---------- */
.pie {
  background-color: white;
  border-radius: 5px;
  height: 300px;
}
/* responsive  */
@media only screen and (max-width: 600px) {
  .anime-img {
    border-radius: 5px;
    width: 100%;
    height: 70%;
    margin-left: 11px;
  }
}
