.anime-img {
  border-radius: 5px;
}
.card-info {
  background-color: #c9d2e470;
  margin-top: 40px;
  padding: 15px;
  border-radius: 10px;
}
.date-card {
  display: flex;
}

/*------ pie chart css ---------- */
.pie {
  margin-top: -70px;
}
