.nav-bar {
  background-color: #1981dd;
  display: flex;
  padding-top: 7px;
}
.nav-ul {
  list-style-type: none;
}
.nav-name {
  color: white;
  text-decoration: none;
  margin-left: 140px;
}

img.user-img-first {
  border-radius: 100%;
  border: 1px solid transparent;
  transition: 0.5s;
  padding-left: 9px;
  margin-bottom: -10px;
}
img.user-img-last {
  border-radius: 100%;
  border: 1px solid transparent;
  transition: 0.5s;
  position: absolute;
  margin-top: -5px;
  padding-left: 8px;
}
/*----- responsive ---------- */
@media only screen and (max-width: 600px) {
  /* .nav-bar h1 {
    
  } */
  img.user-img-last {
    display: block;
  }
  img.user-img-first {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  /* .nav-bar h1 {
    margin-right: 370px;
  } */
  img.user-img {
    margin-top: -13px;
  }
  .nav-name {
    margin-top: -9px;
    margin-left: 55px;
  }
}
@media only screen and (min-width: 968px) {
  .nav-bar h1 {
    margin-right: 770px;
  }
}
